# EditorConfig is awesome: https://EditorConfig.org
# Uses editorconfig to maintain consistent coding styles

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Terraform files
[*.{tf,tfvars}]
indent_style = space
indent_size = 2

# HCL files
[*.hcl]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
max_line_length = 0
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
tab_width = 2
indent_style = tab

# Git commit message
[COMMIT_EDITMSG]
max_line_length = 0
